<%= link_to collection_path(collection) do %>
  <section class="gallery-asset" id="<%= 
          "gallery-#{index}" %>">
    <div class="gallery-asset-image">
    <%= image_tag(Photograph.find(collection.cover_photograph_id).photo.url(size), alt: collection.name) %>
    </div>
    <header class="gallery-asset-header">
      <div class="gallery-asset-header-date">
      <% if collection.date_taken.present? %>
        <%= collection.date_taken.to_formatted_s(:gallery_date) %>
      <% end %>
      </div>
      <div class="gallery-asset-header-photo-count">
        <%= collection.photographs.count %> Photographs
      </div>
      <div class="gallery-asset-header-name">
        <%= collection.name %>
      </div>
    </header>
  </section>
<% end %>