<% title "All Collections" %>
<% description "All collections" %>

<style type="text/css">
  body {
  text-align: center;
}

</style>

<div id="page-content">
    <% @collections.each_with_index do |collection, index| %>
        <% unless collection.cover_photograph_id.nil? %>
          <div class="collection-cover" id="<%= 
          "collection-#{index}" %>">
          <% if mobile_device? %>
            <%= link_to(image_tag(Photograph.find(collection.cover_photograph_id).photo.url(:mobile_large), height: '200', alt: collection.name), collection_path(collection)) %>
          <% else %>
            <%= link_to(image_tag(Photograph.find(collection.cover_photograph_id).photo.url(:pc_small), height: '480', alt: collection.name), collection_path(collection)) %>
          <% end %>
          <%= link_to collection_path(collection) do %>
          <div class="collection-text-container">
            <div class="collection-name">
              <%= collection.name %>
            </div>
            <div class="collection-description">
              <%= collection.description %>
            </div>
          </div>
          <% end %>
        </div><br>
        <% end %>
    <% end %>
</div>
