<style type="text/css">
  
body {
  text-align: center;
}

</style>

<div id="page-content">
    <p id="notice"><%= notice %></p>

    <% @collections.each_with_index do |collection, index| %>
        <% unless collection.cover_photograph_id.nil? %>
          <div class="collection-covers" id="<%= 
          "collection-#{index}" %>">
          <% if mobile_device? %>
          <%= link_to(image_tag(Photograph.find(collection.cover_photograph_id).photo.url(:small), :height => '200'), collection_path(collection)) %>
          <% else %>
            <%= link_to(image_tag(Photograph.find(collection.cover_photograph_id).photo.url(:small), :height => '280'), collection_path(collection)) %>
          <% end %>
          <div class="collection-text-container">
          <div class="collection-name">
            <%= collection.name %>
          </div>
        </div>
        </div>
        <% end %>

    <% end %>
</div>
