<% title @collection.name %>
<% description @collection.description %>
<style type="text/css">
	
body {
	text-align: center;
}

</style>
<div id="page-content">
		<p id="notice"><%= notice %></p>
		<div id="set-intro">
		<h1></h1>
		<p>
		<%= @collection.description  %>
		</p>
	</div>
<div class="collection-group">
		<% @photographs.each_with_index do |photograph, index| %>
			<div class="collection-photo" id="<%= "photo-#{index}" %>" >
				<% if mobile_device? %>
					<%= image_tag(photograph.photo.url(:mobile_large)) %>
				<% else %>
					<%= image_tag(photograph.photo.url(:pc_large)) %>
				<div class="photo-text-container">
					<div class="photo-title"><%= photograph.title %></div>
					<div class="photo-location"><%= photograph.location %></div>
				</div>
				<% end %>
		</div><br>
		<% end %>
		<div class="collection_show_footer">
		<%= link_to '^ Top', "#page-top", class: 'pure-button' %>
		</div>
	</div>
	</div>
</div>


