<% title @collection.name %>
<% description @collection.description %>
<% 
unless @collection.cover_photograph_id.nil?
	og_image_url request.base_url + Photograph.find(@collection.cover_photograph_id).photo.url(:pc_large)
end 
%>
<% og_page_url request.original_url %>

<script type="text/javascript">

function changePhotoHeight () {
    var pageHeight = jQuery(window).height();
    var pageWidth = jQuery(window).width();

    if (pageWidth>768) {
        var photoHeight = pageHeight-50;
        var photoWidth = photoHeight*3/2;
        console.log(photoWidth);
        
        $('.photograph').css({ "max-height": photoHeight + 'px' });
    }
  }

  window.onload = changePhotoHeight;

</script>

<div id="page-content">
	<div class="gallery-description">
		<p>
			<%= @collection.description  %>
		</p>
	</div>
	<div class="photograph-group">
		<% @photographs.each_with_index do |photograph, index| %>
			<div class="photograph" id="<%= "photo-#{index}" %>" >
				<% if mobile_device? %>
					<%= image_tag(photograph.photo.url(:mobile_large), alt: photograph.title) %>
				<% else %>
					<%= image_tag(photograph.photo.url(:pc_large), alt: photograph.title) %>
				<% end %>
			</div><br>
		<% end %>
	<%= render "layouts/social_share" %>
	</div>
	<div class="assets-container gallery-assets-container">
		<%= render "gallery_list" %>
	</div>
</div>

