<span id="page-top"></span>
<div class"pure-g collection-asset" id="page-content">
		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Name:</strong>
		  <%= @collection.name %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @collection.description %>
		</p>

		<% @photographs.each do |photograph| %>
		<div class="collection-photo">

		<%= image_tag(photograph.photo.url(:large)) %>
		<%= photograph.title %>
		<%= photograph.description %>
		<%= photograph.location %>
		</div>
		<% end %>
		<div class="collection_show_footer">
		<%= link_to 'Back', collections_path, class: 'pure-button' %>
		<%= link_to 'Top', "#page-top", class: 'pure-button' %>
		</div>
	</div>
</div>


