<div class="pure-g">
  <div class="pure-u-4-24"></div>
  <div class="pure-u-18-24">
    <p id="notice"><%= notice %></p>

    <h1>Listing Blog Images</h1>
    <%= form_for Blogimage.new do |f| %>
      <%= f.label :image, "Upload paintings:" %>
      <%= f.file_field :image, multiple: true, name: "blogimage[image]" %>
    <% end %>
    <br>
    <div id="blogimages">
    <%= render @blogimages %>
    </div>
    <div class="clear"></div>

    <script id="template-upload" type="text/x-tmpl">
    <div class="upload">
      {%=o.name%}
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
    </script>


    <br>

  </div>
  <div class="pure-u-2-24"></div>
</div>