<div class="pure-g">
  <div class="pure-u-2-24"></div>
  <div class="pure-u-4-24">
  	<p id="notice"><%= notice %></p>

		<%= link_to 'Edit', edit_admin_post_path(@post), class: 'pure-button' %>
		<%= link_to 'Back', admin_posts_path, class: 'pure-button' %>
  	<h3>Published?</h3>
	  <p>
		  <%= @post.published %>
		</p>
		<h3>Published Time</h3>
	  <p>
	  		<% if @post.published_at.present? %>
		  <%= @post.published_at.to_formatted_s(:long) %>
		  <% end %>
		</p>
		<h3>Date Taken</h3>
	  <p>
	  <% if @post.taken_at.present? %>
		  <%= @post.taken_at.to_formatted_s(:long) %>
		  <% end %>
		</p>
		<h3>Word Count</h3>
		<p>
		  <%= @post.body_word_count %>
		</p>
		<h3>Reading Time</h3>
	  <p>
		  <%= @post.reading_time %>
		</p>
		<h3>Cover Image</h3>
	  <p>
		  
		</p>
		<h3>All Associated Images Preview</h3>
	  <p>
		  <% @post.blogimages.each do |blogimage| %>
		  <%= image_tag blogimage.image.url(:mobile_large), :width => '160'%>
		  <% end %>
		</p>
  </div>
  <div class="pure-u-16-24">
		<br><br>
	  <h3>Title</h3>
	  <p>
		  <h1><%= @post.title %></h1>
		</p>
	  <h3>Body</h3>
	  <p>
		  <%= markdown(@post.body) %>
		</p>
		 <h3>Body Raw</h3>
	  <p>
		  <%= @post.body %>
		</p>
	</div>
  <div class="pure-u-2-24"></div>
</div>

