<p id="notice"><%= notice %></p>

<h1>Listing Photographs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Preview</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% @photographs.each do |photograph| %>
      <tr>
        <td><%= photograph.title %></td>
        <td><%= photograph.description %></td>
        <td>
        <%= image_tag photograph.photo.url(:thumb), :height => '50'%>
        </td>
        <td><%= link_to 'Show', photograph %></td>
      </tr>
    <% end %>
  </tbody>
</table>