<%= form_for(@blogimage) do |f| %>
  <% if @blogimage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blogimage.errors.count, "error") %> prohibited this blogimage from being saved:</h2>

      <ul>
      <% @blogimage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_area :caption %>
  </div>
  <div class="field">
    <%= f.label :preview_color %><br>
    <%= f.text_field :preview_color %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
