<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blogimage.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @blogimage.caption %>
</p>

<p>
  <strong>Preview color:</strong>
  <%= @blogimage.preview_color %>
</p>

<%= link_to 'Edit', edit_blogimage_path(@blogimage) %> |
<%= link_to 'Back', blogimages_path %>
