<%= form_for(@photograph) do |f| %>
  <% if @photograph.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photograph.errors.count, "error") %> prohibited this photograph from being saved:</h2>

      <ul>
      <% @photograph.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= hidden_field_tag "photograph[collection_ids][]", nil %>
    <% Collection.all.each do |collection| %>
      <%= check_box_tag "photograph[collection_ids][]", collection.id, @photograph.collection_ids.include?(collection.id), id: dom_id(collection) %>
      <%= label_tag dom_id(collection), collection.name %><br>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
   <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
