<div class="pure-g">
  <div class="pure-u-2-24"></div>
  <div class="pure-u-20-24">
		<h1>Editing Photograph</h1>

		<%= link_to 'Back', admin_photographs_path, class: 'pure-button' %>
		<br><br>
		<%= render 'form' %>

		<%= image_tag @photograph.photo.url %>
		<%= image_tag @photograph.photo.url(:large) %>
		<%= image_tag @photograph.photo.url(:small) %>
		<%= image_tag @photograph.photo.url(:thumb) %>
	</div>
	<div class="pure-u-2-24"></div>

</div>
