<h1>Editing Photograph</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_photograph_path(@photograph) %> |
<%= link_to 'Back', admin_photographs_path %>

<%= image_tag @photograph.photo.url %>
<%= image_tag @photograph.photo.url(:large) %>
<%= image_tag @photograph.photo.url(:small) %>
<%= image_tag @photograph.photo.url(:thumb) %>
