<%= form_for @collection, :html => {:class => 'pure-form' }  do |f| %>
  <% if @collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection.errors.count, "error") %> prohibited this collection from being saved:</h2>

      <ul>
      <% @collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.check_box :published %>
    <%= f.label :published %>
  </div>
  <div class="field">
    <%= f.check_box :featured %>
    <%= f.label :featured %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'pure-input-2-3' %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'pure-input-2-3' %>
  </div>
  <div class="field">
  <%= f.label :cover_photograph %>
  <%= f.collection_select :cover_photograph_id, @collection.photographs.order(:title), :id, :title, {include_blank: true}%>
  </div>
  <% prominence_array=(1..Collection.count()).to_a %>
  <div class="field">
    <%= f.label :prominence %><br>
    <%= f.select(:prominence, prominence_array, {selected: @collection.prominence, include_blank: true})%>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit class: "pure-button pure-button-primary" %>
  </div>
<% end %>
