<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @collection.description %>
</p>

<%= link_to 'Add Photograph to Collection', new_admin_photograph_path %> | <%= link_to 'Edit', edit_admin_collection_path(@collection) %> |
<%= link_to 'Back', admin_collections_path %>
