<div class="pure-g">
  <div class="pure-u-4-24"></div>
  <div class="pure-u-6-24">
		<p id="notice"><%= notice %></p>
		<br>

		<%= link_to 'Add Photograph to Collection', new_admin_photograph_path(new_collection_id: @collection.id), class: "pure-button pure-button-primary" %> 
		<%= link_to 'Edit', edit_admin_collection_path(@collection), class: "pure-button" %> 
		<%= link_to 'Back', admin_collections_path, class: "pure-button" %>

		<br><br>
	  <h3>Name</h3>
	  <p>
		  <%= @collection.name %>
		</p>
		<h3>Date Taken</h3>
		<p>
			<%= @collection.date_taken %>
		</p>
	  <h3>Published?</h3>
	  <p>
		  <%= @collection.published %>
		</p>
	  <h3>Featured?</h3>
	  <p>
		  <%= @collection.featured %>
		</p>
		<h3>Prominence (Order with they appear)</h3>
		<p>
			<%= @collection.prominence %>
		</p>
		  <h3>Description</h3>
		<p>
		  <%= @collection.description %>
		</p>
		<h3>Cover Photograph</h3>
		<p>

			<% unless @cover_photograph.blank? %>
		  <%= image_tag(@cover_photograph.photo.url(:pc_small), :height => '150') %>
		  <% else %>
		  Undefined Cover Photo
		  <% end %>
		</p>
	</div>
	<div class="pure-u-1-24"></div>
	<div class="pure-u-11-24">
	<br><br>
		<% unless @photographs.blank? %>
			<% @photographs.each do |photograph| %>
			<%= link_to(image_tag(photograph.photo.url(:pc_small), :height => '240'), edit_admin_photograph_path(photograph)) %>
			<% end %>
		<% else %>
		No Photographs in Collections
		<% end %>
	</div>
	<div class="pure-u-2-24"></div>
</div>