<%= form_for @product, :html => {:class => 'pure-form' } do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'pure-input-2-3' %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'pure-input-2-3' %>
  </div>
  <div class="field">
    <%#= label :shopify_embed_code %><br>
    <%#= text_area: :shopify_embed_code, class: 'pure-input-2-3' %>
  </div>
  <div class="field">
   <%#= f.file_field :photo %>
  </div>
  <br><br>
  <div class="actions">
    <%= f.submit class: 'pure-button pure-button-primary' %>
  </div>
  <br><br>
<% end %>

