<style type="text/css">

.post-assets-container {
  width: 792px;
  margin: 0 auto;
  padding:0;
}

.post-large-asset {
  position: relative;
    overflow: hidden;
    margin: 30px 36px 80px 36px;
    width: 720px;
    background-color: #f8f8f8;
}
  .post-large-asset-header {
    padding: 15px 25px 25px 30px;
    position: relative;
    height: 160px;
  }
  .post-large-asset-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    clear: both;
    line-height: 0;
/*    background: url('../img/svg/logo_slider.svg?1435758447') no-repeat 0 0;
    -moz-background-size: 64px 65px;
    -o-background-size: 64px 65px;
    -webkit-background-size: 64px 65px;
    background-size: 64px 65px;
    background-position: center center;*/
    background-color: #E2E3E4;
  }
  .post-large-asset-title{
    font-size: 28px;
    line-height: 33px;
    height: 75px;
    margin-bottom: 16px;
    overflow: hidden;
    color: #020C22;
  }
  .post-large-asset-meta-right {
    font-size: 14px;
    color: #333;
    overflow: hidden;
    font-weight: 200;
    float:right;
  }
  .post-large-asset-meta-left {
    padding: 0.2em 1em;
    border-radius: 2px;
    color: #fff;
    background: #999;
    font-size: 16px;
    background: #5aba59;
    float:left;
}

.post-small-asset {

    float:left;
    overflow: hidden;
    margin: 10px 36px 50px 36px;
    width: 324px;
    background-color: #f8f8f8;
}
  .post-small-asset-header {
    padding: 5px 18px 10px 25px;
    position: relative;
    height: 150px;
  }
  .post-small-asset-image {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    clear: both;
    line-height: 0;
/*    background: url('../img/svg/logo_slider.svg?1435758447') no-repeat 0 0;
    -moz-background-size: 64px 65px;
    -o-background-size: 64px 65px;
    -webkit-background-size: 64px 65px;
    background-size: 64px 65px;
    background-position: center center;*/
    background-color: #E2E3E4;
  }
  .post-small-asset-title{
    font-size: 22px;
    line-height: 28px;
    height: 80px;
    margin-bottom: 15px;
    overflow: hidden;
    color: #020C22;
  }
  .post-small-asset-meta-right {
    font-size: 13px;
    color: #020C22;
    overflow: hidden;
    float:right;
  }
</style>
<div class="post-assets-container">
  <section class="post-large-asset">
  <%= link_to post_path(@post_most_recent) do %>
    <header class="post-large-asset-header">
      <% if @post_most_recent.long_title? %>
        <h2 class="post-large-asset-title" style="font-size: 24px;">
      <% else %>
        <h2 class="post-large-asset-title">
      <% end %>
      <%= @post_most_recent.title %>
      </h2>
      <div class="post-large-asset-meta-left">NEW POST
      </div>
      <div class="post-large-asset-meta-right"><%= @post_most_recent.reading_time %> min read
      </div>
    </header>
    <div class="post-large-asset-image">
      <img class="post-avatar" style="background: rgb(211, 215, 227);" alt="Post Cover Photo" height="480" width="720" src="http://placehold.it/720/480">
    </div>
  <% end %>
  </section>

  <% @posts.each_with_index do |post, index| %>
    <% if index>0 %>
      <section class="post-small-asset">
      <%= link_to post_path(post) do %>
        <header class="post-small-asset-header">
          <% if post.long_title? %>
            <h2 class="post-small-asset-title" style="font-size: 17px;">
          <% else %>
            <h2 class="post-small-asset-title">
          <% end %>
          <%= post.title %>
          </h2>
          <div class="post-small-asset-meta-right"><%= post.reading_time %> min read
          </div>
        </header>
        <div class="post-small-asset-image">
          <img class="post-avatar" style="background: rgb(211, 215, 227);" alt="Post Cover Photo" height="216" width="324" src="http://placehold.it/324/216">
        </div>
      <% end %>
      </section>
    <% end %>
  <% end %>
</div>