<% title @post.title %>
<% description @post.body_preview_description %>
<% 
unless @post.cover_blogimage_id.nil?
  og_image_url request.base_url + Blogimage.find(@post.cover_blogimage_id).image.url(:pc_large)
end 
%>
<% og_page_url request.original_url %>
<% og_type "article" %>

<div class='copyright-tool-tip'>You may share this post but unauthorized use of these photos are prohibited. </div>
<div id="page-content">
<article class='post'>
	<header class="article-title">
  	<h1>
  	  <%= @post.title %>
  	</h1>
  	<div class="article-meta">
      <div class="article-date">
        Posted: <%= @post.published_at.to_formatted_s(:post_date) %>
      </div><br>
    </div>
	</header>

	<article class="article-body">
  	  <%= markdown(@post.body) %>
  </article>
  <%= render "layouts/social_share" %>
  <div class="assets-container show-post-assets-container">
    <% @posts.each do |post| %>
      <%= render 'small_asset_pc', post: post %>
    <% end %>
  </div>
</div>