<% title @post.title %>
<% description @post.body_preview_description %>
<% 
unless @post.cover_blogimage_id.nil?
  og_image_url request.base_url + Blogimage.find(@post.cover_blogimage_id).image.url(:pc_large)
end 
%>
<% og_page_url request.original_url %>
<% og_type "article" %>

<style type="text/css">


    pre {
      margin-top:50px;
      margin-bottom:50px;
    }
    figure img
    {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    figure{

      padding: 0;
      margin: 0 auto;
      padding-top: 40px;
    }
    figcaption {
      text-align: center;
      font-size: 0.9em;
      font-style: italic;
      color: #666;
      padding-bottom: 30px;
      margin: 0 auto;
      width: 90%;
    }

    p{
      padding-right:50px;
      padding-left:50px;
      line-height: 1.5;
    }
  @media only screen and (max-width: 768px)  {
    figure img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:100%;
    }
    figure{
      padding: 0;
      margin: 0 auto;
      padding-top: 40px;
    }
    figcaption {
      width: 90%;
    }

    pre {
      margin-top:30px;
      margin-bottom:30px;
    }
    p{
      padding-right:5%;
      padding-left:5%;
      line-height: 1.6;
      color: #666;
      font-size: 1.05em;
    }
  }
</style>

<div id="page-content">
<article class='post'>
	<header class="article-title">
  	<h1>
  	  <%= @post.title %>
  	</h1>
  	<div class="article-meta">
      <div class="article-date">
        <%= @post.published_at.to_formatted_s(:post_date) %>
      </div>
    </div>
	</header>

	<article class="article-body">
  	  <%= markdown(@post.body) %>
  </article>
  <%= render "layouts/social_share" %>
  <div class="show-post-assets-container">
    <% @posts.each do |post| %>
      <%= render 'small_asset_pc', post: post %>
    <% end %>
  </div>
</div>