<style>
.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    width: 10em; 
    position: fixed;
}

.pure-menu {
    background-color: #f0f0f0;
    border-color: #444;
    border-width: 1px;
}

.pure-menu a {

}

.pure-menu a:hover {
    text-decoration: none;
}
.pure-menu-item a:hover {
    background-color: #CCC;
}

.pure-menu-heading {
    font-weight: 200%;
}

.pure-menu-stats {
    text-transform: none;
}
</style>
<div class="pure-menu custom-restricted-width">
    <span class="pure-menu-heading"></span>

    <ul class="pure-menu-list">
        <li class="pure-menu-heading">Create New</li>
        <li class="pure-menu-item"><%= link_to "+ Blog Post" , new_admin_post_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-item"><%= link_to "+ Collection" , new_admin_collection_path, class: "pure-menu-link" %></li> 
        <li class="pure-menu-item"><%= link_to "+ Photograph" , new_admin_photograph_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-item"><%= link_to "+ Product" , new_admin_product_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-heading"></li>
        <li class="pure-menu-heading">List All</li>
        <li class="pure-menu-item"><%= link_to '☷ Blog Posts' , admin_posts_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-item"><%= link_to '☷ Blog Images' , admin_blogimages_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-item"><%= link_to "☷ Collections" , admin_collections_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-item"><%= link_to "☷ Photographs" , admin_photographs_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-item"><%= link_to "☷ Products" , admin_products_path, class: "pure-menu-link" %></li>
        <li class="pure-menu-heading"></li>
        <li class="pure-menu-heading">Uptime</li>
        <li class="pure-menu-heading pure-menu-stats"><%= uptime %></li>
    </ul>
</div>