<header id="nav-section">
  <div class="logo">
    <h1><a href="http://www.joewangphoto.com" title="Joe Wang Photography">
    <img src="/images/joe-wang-photography-logo.png" alt="logo">
    </a></h1>
  </div>
  <nav id="menu-section">
    <div class="toggle">
      <a href="#open" style="font-size: 1em;">MENU&nbsp;&nbsp;&#9776;</a>
    </div>
    <ul id="menu" class="group">

      <li class="extraspace captital-on-mobile">
        <%= '<span class=\'directory-arrows\'>❯</span>'.html_safe if params[:controller].include?('post') && !mobile_device? %>
        <%= link_to "Blog",posts_path %>
      </li>
      
      <% unless mobile_device? %>
        <% @posts= Post.where({published: true}).where("created_at > ?", Time.now-5.days) %>
        <ul style="padding:0;">
          <% @posts.first(2).each do |post| %>
            <li style="list-style-type: none; font-size:15px; padding-bottom:5px; line-height:1.3; text-transform: none;">
            [new] <%= link_to post.title, post_path(post) %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <li class="extraspace captital-on-mobile">
        <%= '<span class=\'directory-arrows\'>❯</span>'.html_safe if params[:controller].include?('collection') && !mobile_device? %>
        <%= link_to 'Galleries',collections_path %>
      </li>

      <% unless mobile_device? %>
        <% @collections= Collection.where({featured: true, published: true}).order("prominence IS NULL, prominence ASC") %>
        <ul style="padding:0;">
          <% @collections.each do |collection| %>
            <li style="list-style-type: none; font-size:15px; padding-bottom:5px; line-height:1.3; text-transform: none;">
              <%= link_to collection.name, collection_path(collection) %>
            </li>
          <% end %>
        </ul>
      <% end %>
      
      <li class="extraspace captital-on-mobile">
        <%= '<span class=\'directory-arrows\'>❯</span>'.html_safe if '/about' == request.env['PATH_INFO'] && !mobile_device? %>
        <%= link_to "About", page_path("about") %>
      </li>

      <li class="extraspace captital-on-mobile">
        <%= '<span class=\'directory-arrows\'>❯</span>'.html_safe if '/contact' == request.env['PATH_INFO'] && !mobile_device? %> 
        <%= link_to "Contact", page_path("contact") %>
      </li>
    </ul>
  </nav>
  <%#= render "layouts/social_links" %>
  <div class="keyboard-instructions">
      Press "L" to turn OFF lights
  </div>

  <div class="copyright">
      &copy; Joe Wang 2014-2016
  </div>

</header>

<div id="lightbox"></div>