<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <!-- custom head content -->
    <%= render 'layouts/head_content' %>
  <!-- end -->
  <%= csrf_meta_tags %>
</head>
<body>
<span id="page-top"></span>
<% unless params[:controller].include?('admin') %>
  <% if controller_name == 'photographs' && action_name == 'index' && mobile_device? %>
    <%= render 'layouts/nav_mobile_home' %>
  <% else %>
    <%= render 'layouts/nav' %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
