<!DOCTYPE html>
<html>
<head>
  <title>Joewangphotography</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>

  <!-- custom head content -->
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=yes">

  <% if params[:controller].include?('admin') %>
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  	<![endif]-->
  	<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  	<!--<![endif]-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <% else %>
    <script src="/js/lagacy.js"></script>
  <% end %>


  <!-- end -->
  <%= csrf_meta_tags %>
</head>
<body>
<span id="page-top"></span>
<% unless params[:controller].include?('admin') %>
  <% if controller_name == 'photographs' && action_name == 'index' && mobile_device? %>
    <%= render 'layouts/nav_mobile_home' %>
  <% else %>
    <%= render 'layouts/nav' %>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
