<!DOCTYPE html>
<html>
<head>
  <title>Joewangphotography</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- custom head content -->
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=yes">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<!--<![endif]-->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

  <!-- end -->
  <%= csrf_meta_tags %>
</head>
<body>
<% unless params[:controller].include?('admin') %>

<header id="nav-section">

    <div class="logo">
    <h1><a href="http://www.joewangphoto.com" title="Joe Wang Photography">
    <img src="/images/joe-wang-photography-logo.png" alt="logo">
    </a></h1>
    </div>
    <div id="menu-section">
        <div class="toggle">
      <a href="#open">MENU&nbsp;&nbsp;&#9776;</a>
        </div>
        <ul id="menu" class="group">
            <li class="extraspace captital-on-mobile"><a href="/" >Home</a></li>
            <% @collections= Collection.where({published: true}) %>
            <% @collections.each do |collection| %>
            <li>
            <%= link_to collection.name, collection_path(collection) %>
            </li>
            <% end %>

            <li class="extraspace captital-on-mobile"><a href="/about.php" >About/Contact</a></li>
<!--             <li class="captital-on-mobile"><a href="https://prime.500px.com/zjwang">Buy Photos</a></li> -->
            
        </ul>
    </div>
    <div class="keyboard-instructions">
        Press "L" to turn OFF lights
    </div>
    <div class="copyright">
        &copy; Joe Wang 2015
    </div>
</header>
<div id="lightbox">
</div>
<% end %>
<%= yield %>

</body>
</html>
